.buddy-bg-green {
    background-color: #77BF63  !important;
    color:#fefefe;
}

.buddy-font-green {
    color: #77BF63;
}

.buddy-btn-green {
    background-color: #77BF63  !important;
    color:#fefefe !important;
}