<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Pay My Buddy - Bank account</title>
	</head>
	
	<body>
		<!-- Bank Account information form -->
		<span th:text="'Balance : ' + ${balance} + ' €'">Balance : 10 €</span><br>
		<form method="post" th:action="@{/bank}" th:object="${bankAccountAddDto}">
		  <div>
		    <label for="bankName">Bank Name : </label>
		    <input th:field="*{bankName}" type="text" name="bankName" id="bankName">
		    <small th:errors="*{bankName}" class="text-danger">Bank Name must not be empty</small>
		  </div>
		 
		 <div>
		    <label for="rib">RIB : </label>
		    <input th:field="*{rib}" type="text" name="rib" id="rib">
		    <small th:errors="*{rib}" class="text-danger">RIB must not be empty</small>
		  </div>
		  
		  <div>
		    <label for="iban">IBAN : </label>
		    <input th:field="*{iban}" type="text" name="iban" id="iban">
		    <small th:errors="*{iban}" class="text-danger">IBAN must not be empty</small>
		  </div>
		    	    
		  <div>
		    <input th:if="${not accountIsSet}" type="submit" value = "Add bank account">
		    <input th:if="${accountIsSet}" type="submit" value = "Update information">
		  </div>
		</form>
		<span th:if="${param.success}">Successfully added bank account</span>
		<span th:if="${param.update_success}">Successfully updated bank account</span>
		<span th:if="${param.remove_success}">Successfully removed bank account</span>
		
		<div th:if="${accountIsSet}">
		<a href="/bank?action=remove">Remove bank account</a>
		</div>
		<span th:if="${param.remove_error}">Error while removing bank account</span>
		
		<br>
		
		<!--  Withdraw money form -->
		<div th:if="${accountIsSet}">
			<form method="post" th:action="@{/bank-withdraw}" th:object="${bankAccountWithdrawDto}">
				<label for="withdrawMoney">Withdraw money :</label>
				<input th:field="*{withdrawMoney}" type="number" id="withdrawMoney" name="withdrawMoney"
	       		min="1" placeholder="1.0" step="0.01">
	       		<small th:errors="*{withdrawMoney}" class="text-danger">Minimum amount is 1€.</small>
	       		<input type="submit" value = "Withdraw money">
	       		<span th:if="${param.withdraw_success}">Successfully withdrew money</span>
	       	</form>
		</div>
		
		<br>
		
		<!-- Deposit money form -->
		<div th:if="${accountIsSet}">
			<form method="post" th:action="@{/bank-deposit}" th:object="${bankAccountDepositDto}">
				<label for="depositMoney">Deposit money :</label>
				<input th:field="*{depositMoney}" type="number" id="depositMoney" name="depositMoney"
	       		min="1" th:max="${balance}" placeholder="1.0" step="0.01">
	       		<small th:errors="*{depositMoney}" class="text-danger">Minimum amount is 1€.</small>
	       		<input type="submit" value = "Deposit money">
	       		<span th:if="${param.deposit_success}">Successfully deposited money to bank account</span>
	       	</form>
		</div>
		
	</body>
</html>