<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PayMyBuddy - Register</title>
        <div th:insert="fragments/head :: configuration"></div>
    </head>

    <body>
        <div class="container">
            <!-- Centering the registration form -->
            <div class="row">
                <div class="col-6 offset-3 p-3 mt-3 border buddy-bg-green text-center"> 
                    <!-- Title and logo -->
                    Pay My Buddy - Registration Form
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-6 offset-3 p-3 border bg-light">                   
                    <!-- Form content -->
                    <form method="post" th:action="@{/register}" th:object="${userRegistrationDto}">
                        
                        <!-- Email address -->
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email address</label>
                            <input th:field="*{mail}" type="text" class="form-control" id="mail" placeholder="address@example.xyz">
                            <small th:errors="*{mail}" class="text-danger">Mail address must not be empty</small>
                        </div>
                          
                        <!-- First name and last name -->
                        <div class="row mb-3">
                            <div class="col">
                                <label for="first_name" class="form-label">First name</label>
                                <input th:field="*{firstName}" type="text" class="form-control" placeholder="First name" aria-label="First name">
                                <small th:errors="*{firstName}" class="text-danger">First name must not be empty</small>
                            </div>
                            <div class="col">
                                <label for="last_name" class="form-label">Last name</label>
                                <input th:field="*{lastName}" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                <small th:errors="*{lastName}" class="text-danger">Last name must not be empty</small>
                            </div>
                        </div>
        
        
                        <!-- Passwords -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="***********">
                            <small th:errors="*{password}" class="text-danger">Password must not be empty</small>
                        </div>

                        <div class="mb-3">
                            <label for="password_confirmation" class="form-label">Password confirmation</label>
                            <input th:field="*{passwordConfirmation}" type="password" class="form-control" id="password_confirmation" placeholder="***********">
                            <small th:errors="*{passwordConfirmation}" class="text-danger">Password must not be empty</small>
                        </div>
                        
                        <button type="submit" class="btn buddy-btn-green">Register</button> <a class="p-1" href="/login">Already have an account ?</a>
                        
                        <div th:errors="*{global}" class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
                            A simple danger alert—check it out!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
    </body>
</html>