<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>PayMyBuddy - SignUp Form</title>
</head>
<body>

	<form method="post" th:action="@{/signup}" th:object="${User}">  
	  <div>
	    <label for="first_name">First name : </label>
	    <input th:field="*{firstName}" type="text" id="first_name">
	  </div>
	  
	  <div>
	    <label for="last_name">Last name : </label>
	    <input th:field="*{lastName}" type="text" id="last_name">
	  </div>
	 
	  <div>
	    <label for="email">Mail: </label>
	    <input th:field="*{mail}" type="email" id="mail">
	  </div>
	  
	  <div>
	    <label for="first_password">Password : </label>
	    <input th:field="*{password}" type="password" id="first_password">
	  </div>
	  	  
	  <div>
	    <input type="submit" value="Sign Up">
	  </div>
	</form>
</body>
</html>